.cover {
    border: 1px solid #2A2C2F;
    max-width: 95%;
    position: relative;
    margin: 92px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    opacity: 0.8;
}

.cover:hover {
    background-image: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(../../images/cover-trains.jpg);
    }

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 90px auto 88px auto;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        margin: 66px auto 64px auto;
    }
}