.cover__title {
    max-width: 44%;
    color: #ffffff;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 19% auto 3% auto;
    background-color: transparent;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        max-width: 55%;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        max-width: 73%;
        margin-top: 15%;
        margin-bottom: 4%;
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        max-width: 90%;
        font-size: 32px;
        line-height: 35px;
        margin-top: 18%;
        margin-bottom: 5%;
    }
}