.footer {
    max-width: 95%;
    margin: 0 auto 24px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .footer {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        flex-direction: column;
    }
}